body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header-container{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3498db;
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
    font-size: 2.5em;
}
ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 20px;
}
li {
    margin: 10px;
    padding: 0;
    width: 100%;
}
.box {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: #fff;
    word-wrap: break-word;
    white-space: normal;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box .title{
    font-weight:bold;
}

.box div {
    margin-bottom: 5px;
}
.box a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
}
.box a:hover {
    color: #2980b9;
}
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    color: #3498db;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #3498db;
    color: #fff;
}

.pagination span {
    margin: 0 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search{
    width: 200px;
    padding: auto;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: large;
}
#searchBtn {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #2a12b2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

#searchBox{
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.tag{
    color: #0079c4;
}

.navbar{
    background-color: #2980b9;
    display:flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar .button {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}